{% extends 'JacksonWebApp/base.html' %}
{% block content %}
{% load staticfiles%}
    <div class="row">
        <div class="index-well well well-lg col-md-3 col-md-offset-2">
            <p>
                Jackson is a chatbot that uses Machine Learning and
                Natural Language Processing to understand sentences
                and answer questions.
            </p>
        </div>
        <div class="index-well well well-lg col-md-3 col-md-offset-2">
            <p>
                Jackson can search for answers in a database of facts
                and also in Wikipedia. He can also learn new information
                from declarative sentences.
            </p>
        </div>

        <script src="{% static "JacksonWebApp/scripts/index.js" %}"></script>
    </div>
{% endblock %}