args==0.1.0
clint==0.5.1
cloudpickle==0.2.2
cymem==1.31.2
Django==1.10.4
murmurhash==0.26.4
neo4jrestclient==2.1.1
nltk==3.2.1
numpy==1.11.3
pathlib==1.0.1
plac==0.9.6
preshed==0.46.4
requests==2.12.4
scikit-learn==0.18.1
scipy==0.18.1
semver==2.7.3
six==1.10.0
spacy==1.5.0
sputnik==0.9.3
termcolor==1.1.0
thinc==5.0.8
ujson==1.35
bllipparser==2016.9.11
