bllipparser==2016.9.11
Django==1.10.4
django-common-helpers==0.9.0
gunicorn==19.7.1
neo4jrestclient==2.1.1
nltk==3.2.1
numpy==1.11.1
psycopg2==2.7.1
python-dateutil==2.6.0
requests==2.13.0
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
urllib3==1.26.5
whitenoise==3.3.0
requests-futures==0.9.7
click==6.7
redis==2.10.5
rq==0.7.1