#chat_chat_log {
    min-height: 200px;

.user_input {
    //border: 1px solid #6EABBD;
    border-radius: 5px;
    background-color: #6EABBD;
}

.chatbot_output {
    //border: 1px solid #7D1935;
    border-radius: 5px;
    background-color: #7D1935;
}