#chat_chat_log {
    overflow: scroll;
    height: 400px;
}

#img-think-bubble {
    display: none;
}

.chat_user_input, .chatbot_output {
    margin-bottom: 10px;
}

.chat_user_input div {
    width: 400px;
    border-radius: 5px;
    background-color: #365899;
    color: white;
    min-height: 25px;
    padding-right: 5px;
    padding-left: 5px;
    word-break: break-all;
}


.chatbot_output div {
    //border: 1px solid #7D1935;
    border-radius: 5px;
    background-color: #7D1935;
    color: white;
    min-height: 25px;
    padding-left: 5px;
    width: 400px;
    padding-left: 5px;
}

#chat_btn_send {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
}

#chat_input_field {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

#chat_input_field:focus,
#chat_input_field.focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}